on:
  # Run on PRs and pushes to the default branch.
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - name: Checkout
      uses: actions/checkout@b80ff79f1755d06ba70441c368a6fe801f5f3a62

    - name: Install Node.js
      uses: actions/setup-node@eff380dfbcf941bf8832e4acb788cebe13dfd758
      with:
        node-version: 18.16.0

    - run: npm install

    - run: for i in {1..100}; do xvfb-run -a npm test; done
      if: matrix.os == 'ubuntu-latest'
      
    - run: 1..100 | % { npm test }
      if: matrix.os == 'windows-latest'

    - run: for i in {1..100}; do npm test; done
      if: matrix.os == 'macos-latest'
